<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand">Tp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li><a class="nav-link item" routerLink="" routerLinkActiveOptions="true" >Accueil</a></li>
      <li><a class="nav-link item" routerLink="ressources" routerLinkActiveOptions="true" >Ressources</a></li>
      <li><a class="nav-link item" routerLink="contact" routerLinkActiveOptions="true" >Contact</a></li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" data-toggle="dropdown">Cours</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink='cours/prog'>Programmation</a>
          <a class="dropdown-item" routerLink='cours/web'>Web</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>